@font-face {
  font-family: DancingScript;
  src: url(DancingScript-Regular.otf);
}

body{
  font-family: DancingScript;
  background-color: #02010a;
}

header{
  padding-top: 2%;
  padding-bottom: 2%;
  color: white;
  margin: 0 auto;
  background-color: #5b7989;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  flex-direction: row;
  animation: mianimacion 1s;
}

@-webkit-keyframes mianimacion{
  0%{
    margin-top: 150%;
  }
  60%{
    margin-top: -5%;
  }
  100%{
    margin-top: 0%;
  }
}

h1{
  margin-left: 2%;
  margin-right: 70%;
  text-align: left;
  text-shadow: 2px 2px 2px #02010a;
  }

a{
  text-align: left;
  color: white;
  font-size: 18px;
}

.paisajes{
  text-decoration: none;
}

.contenido{
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
}

#fila1{
  margin: auto;
  height: 40%;
  background-color: #82c3a6;
  display: flex;
  flex-direction: row;
  padding-top: 2%;
  padding-bottom: 1%;
}

.mon1{
  order: 1;
  display: block;
  width: 33%;
  margin: auto;
  width: 30%;
  height: 90%;
  filter: blur(10px);
  box-shadow: 2px 2px 2px #02010a;
}
.mon2{
  order: 2;
  display: block;
  width: 33%;
  margin: auto;
  width: 30%;
  height: 90%;
  filter: grayscale(100%);
  box-shadow: 2px 2px 2px #02010a;
}

.mon3{
  order: 3;
  display: block;
  width: 33%;
  margin: auto;
  width: 30%;
  height: 90%;
  filter: sepia(90%);
  box-shadow: 2px 2px 2px #02010a;
}

#fila2{
  margin: auto;
  height: 40%;
  background-color: #82c3a6;
  display: flex;
  flex-direction: row;
  padding-top: 1%;
  padding-bottom: 2%;
}

.mon4{
  order: 1;
  display: block;
  width: 33%;
  margin: auto;
  height: 90%;
  width: 30%;
  filter: grayscale(100%);
  box-shadow: 2px 2px 2px #02010a;
}
.mon5{
  order: 2;
  display: block;
  width: 33%;
  margin: auto;
  height: 90%;
  width: 30%;
  box-shadow: 2px 2px 2px #02010a;
}

.mon6{
  order: 3;
  display: block;
  width: 33%;
  margin: auto;
  height: 90%;
  width: 30%;
  filter: grayscale(100%);
  box-shadow: 2px 2px 2px #02010a;
}

footer{
  margin: auto;
  background-color: #C6d5c5;
  width: 100%;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  flex-direction: row;
  padding-top: 2%;
  padding-bottom: 2%;
}

footer li{
  font-size: 0.8em;
  display: flex;
  text-align: left;
}

footer li a {
  font-size: 1.2em;
  padding-bottom: 2%;
}

div h2{
  font-size: 2em;
  text-align: center;
}

#copy{
  width: 20px;
  height: 20px;
}

ul img{
  width: 15px;
  float: left;
}

ul a{
  color: black;
}

.columna1{
  width: 25%;
  order: 1;

}

.columna2{
  width: 25%;
  order: 2;

}

.columna3{
  width: 25%;
  order: 3;

}

.columna4{
  width: 25%;
  order: 4;
}

@media (max-width:900px){

  header{
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }

  h1{
    order: 1;
    margin: auto;
    }

  h1 + a{
    order: 2;
   }
  #fila1{
    display: flex;
    flex-direction: column;
    padding-top: 2%;
  }

  .mon1{
    width: 90%;
    padding: 1%;
}
  .mon2{
    width: 90%;
    padding: 1%;
  }
  .mon3{
    width: 90%;
    padding: 1%;
  }

  #fila2{
    display: flex;
    flex-direction: column;
    padding-bottom: 2%;
  }
  .mon4{
    width: 90%;
    padding: 1%;
  }
  .mon5{
    width: 90%;
    padding: 1%;
  }
  .mon6{
    width: 90%;
    padding: 1%;
  }


  footer{
    display: flex;
    flex-direction: column;
    padding: 5% 5%;
    text-align: left;
  }

  div h2{
    text-align: left;
  }

  footer li a {
    font-size: 1.2em;
}

.columna1{
  width: 90%;
  order: 1;

}

.columna2{
  width: 90%;
  order: 2;

}

.columna3{
  width: 90%;
  order: 3;

}

.columna4{
  width: 90%;
  order: 4;
